@import "general";

* 
*::before
*::after {
  margin: 0;
  padding: 0;  
}



body {
    background-color: $baseColor4;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

// Logo Img

#logo {
    width: 70px;
    height: 70px;
    color: white;
    cursor: pointer;

}

//Main Nav

#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
        list-style: none;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: $baseColor4;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.4s;

        &:hover {
            border-color: $baseColor7;
        }

        &.current {
            border-color: $baseColor2;
        }
    }


}

#header {
    &-home {
        background: $header-img no-repeat center center/cover;
        height: 100vh;
        color: #fff;

        .header-content {
            text-align: center;
            padding-top: 10%;

            .welcome {
                font-size: 3rem;
            }

            h1 {
                font-size: 5rem;
                line-height: 1.2rem;
            }

            .letter {
                color: $baseColor2;
            }
        }
    }

    &-inner {

    }
}

.container {
    display: grid;
    max-width: $max-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

.body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, minmax(20vh, max-content));
    grid-gap: 1rem;
    font-size: 3rem;
    max-width: $max-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 2rem;
}

.main {
    background-color: $baseColor3;
    grid-column: 1 / 8;
    font-size: 1rem;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content;
    grid-auto-flow: row;
    background-color: $baseColor6;
    grid-column: 1 / 5;

    .box {
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
}

.testimonials {
    background-color: $baseColor7;
    grid-column: 5 / 8;
    font-size: 1rem;
}

.footer-main {
    background-color: $baseColor8;
    grid-column: 1 / 8;
    font-size: 1rem;    
    
}